.pageContent {
  width: 90%;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pageHeader {
  background-color: #AB2328;
  border-left: #8A2A2B 2px solid;
  border-right: #8A2A2B 2px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pageBody {
  background-color: #fff7e2;
  border-left: #fff7e2 2px solid;
  border-right: #fff7e2 2px solid;
  min-height: 510px;
}

.pageFooter {
  background-color: #AB2328;
  border-left: #8A2A2B 2px solid;
  border-right: #8A2A2B 2px solid;
  padding: 10px;
  color:white;
  text-align: center;
}

.nav > li > a {
  color: white;
}

.nav > li > a:hover {
  background-color: #fff7e2 !important;
  color: black;
}

.body {
  background: url('../background-01.png') repeat;
}

.contactRow{
  padding: 20px;
}
.contactCard{
  width: 300px;
  height:150px;
  background-color: #AB2328;
  border-left: #8A2A2B 2px solid;
  border-right: #8A2A2B 2px solid;
  border-radius: 7px;
  color: white;
  padding: 10px;
}

.contact-name {
  font-weight: bolder;
  font-size: larger;
  text-transform: uppercase;
}

.contact-title{
  font-size: x-small;
}